@import url(/css/font-awesome.css);
/* line 8, style.scss */
body, html {
  font-family: arial;
  height: 100%;
}

/* line 13, style.scss */
a {
  outline: none;
}

/* line 17, style.scss */
.ghost-footer {
  height: 460px;
}

/* line 21, style.scss */
.wrapper {
  min-height: 100%;
  margin-bottom: -460px;
}

/* line 26, style.scss */
.errorMessage, .help-block {
  color: red;
  font-size: 12px;
}

/* line 31, style.scss */
footer {
  height: 460px;
}

/* line 35, style.scss */
#toTop {
  bottom: 80px;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 20px;
  padding: 17px 15px;
}
/* line 42, style.scss */
#toTop:hover {
  opacity: 0.9;
}

/* line 47, style.scss */
.text {
  line-height: 1.4em;
  text-align: justify;
}
/* line 50, style.scss */
.text h1, .text h2, .text h3 {
  text-align: left;
}
/* line 53, style.scss */
.text ul {
  margin-bottom: 10px;
}
/* line 55, style.scss */
.text ul li {
  list-style: square outside;
  padding-left: 15px;
}
/* line 60, style.scss */
.text p {
  margin-bottom: 10px;
}
/* line 63, style.scss */
.text strong, .text b {
  font-weight: bold;
}
/* line 66, style.scss */
.text h1 {
  font-size: 32px;
}
/* line 69, style.scss */
.text h2 {
  font-size: 24px;
}
/* line 72, style.scss */
.text h3 {
  font-size: 18px;
}
/* line 75, style.scss */
.text h4 {
  font-size: 14px;
}
/* line 78, style.scss */
.text h5 {
  font-size: 12px;
}
/* line 81, style.scss */
.text h6 {
  font-size: 10px;
}
/* line 84, style.scss */
.text small {
  font-size: 10px;
}
/* line 87, style.scss */
.text i {
  font-style: italic;
}

/* line 94, style.scss */
.ui-autocomplete .ui-menu-item strong {
  font-weight: bold;
}

/* line 103, style.scss */
.wrapper.user_login .logo {
  margin: 35px 0;
}
/* line 106, style.scss */
.wrapper.user_login .form-control {
  border-radius: 0;
  height: 28px;
  border-radius: 0px;
  border: 1px solid #000;
  display: inline-block;
}
/* line 113, style.scss */
.wrapper.user_login .title {
  font-size: 24px;
  color: #999;
  padding-right: 50px;
}
/* line 118, style.scss */
.wrapper.user_login a {
  font-family: Arial;
  font-size: 14px;
  color: #979797;
  display: block;
  margin: 20px 0 0 0;
}
/* line 125, style.scss */
.wrapper.user_login .back {
  float: none;
  display: block;
  text-align: center;
  text-decoration: underline;
  margin: 10px 0 0 0;
  font-size: 18px;
  color: #000;
}
/* line 133, style.scss */
.wrapper.user_login .back:hover {
  text-decoration: none;
}
/* line 137, style.scss */
.wrapper.user_login .btn {
  padding: 4px 40px;
  background-image: linear-gradient(#48ca35, #2ed12e, #00ff00, #30cfcf);
  color: #000;
  display: block;
  float: none;
  margin: 0 auto;
  font-weight: bold;
  height: 42px;
  font-size: 24px;
}
/* line 148, style.scss */
.wrapper.user_login input[type="checkbox"] {
  display: none;
}
/* line 151, style.scss */
.wrapper.user_login input[type="checkbox"] + label:not(.status) {
  color: #979797;
  cursor: pointer;
  font-family: Arial;
  font-size: 14px;
  margin-left: 40px;
}
/* line 158, style.scss */
.wrapper.user_login input[type="checkbox"] + label:not(.status)::before {
  content: "";
  display: inline-table;
  vertical-align: middle;
  height: 16px;
  width: 16px;
  margin: -2px 5px 0 0;
  background: url("/images/checkbox.png") no-repeat transparent;
}
/* line 167, style.scss */
.wrapper.user_login input[type="checkbox"] + label:not(.status)::before {
  background-position: 0px 0px;
}
/* line 170, style.scss */
.wrapper.user_login input[type="checkbox"]:checked + label:not(.status)::before {
  background-position: 0px -52px;
}
/* line 173, style.scss */
.wrapper.user_login input[type="checkbox"]:checked:disabled + label:not(.status)::before {
  opacity: 0.5;
}

/* line 178, style.scss */
.help-inline {
  color: red;
  position: absolute;
  margin-left: 100%;
  width: 100%;
  margin-top: -25px;
  font-size: 12px;
}

/* line 187, style.scss */
.require {
  font-size: 12px;
  color: #f84c32;
  font-family: arial, sans-serif;
  margin-bottom: 18px;
}

/* line 194, style.scss */
.lk_title {
  font-size: 18px;
  font-family: arial, sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
}

/* line 201, style.scss */
.lk_cat {
  font-size: 18px;
  font-family: arial, sans-serif;
  margin-bottom: 18px;
}

/* line 208, style.scss */
.form-group .text-right label {
  color: #979797;
  font-size: 14px;
  font-family: arial, sans-serif;
  font-weight: normal;
  margin-top: 6px;
}
/* line 215, style.scss */
.form-group input.form-control {
  height: 31px;
  border-radius: 0;
}

/* line 221, style.scss */
span.required {
  color: #ff0000;
}

/* line 225, style.scss */
.form-group {
  margin-bottom: 20px;
}

/* line 229, style.scss */
.field-note label {
  color: #979797;
  font-size: 12px;
  font-weight: normal;
}

/* line 235, style.scss */
.birth-label {
  margin-top: 24px;
}

/* line 239, style.scss */
.house input {
  width: 60px;
}

/* line 243, style.scss */
.captcha input {
  width: 140px;
}

/* line 247, style.scss */
.captcha img {
  margin-top: -8px;
}

/* line 251, style.scss */
.all {
  padding-left: 0;
  padding-right: 0;
}

/* line 256, style.scss */
.left {
  padding-left: 0;
}

/* line 260, style.scss */
.blue_link, .buttons .form-group a.blue_link, .buttons.form-group a.blue_link {
  color: #0849e1;
  text-decoration: none;
}
/* line 263, style.scss */
.blue_link:hover, .buttons .form-group a.blue_link:hover, .buttons.form-group a.blue_link:hover {
  color: #0849e1;
  text-decoration: underline;
}

/* line 269, style.scss */
.captcha-refresh {
  position: absolute;
  width: 80px;
  margin-top: 7px;
  margin-left: 70px;
  font-size: 14px;
}
/* line 275, style.scss */
.captcha-refresh span {
  display: none;
}

/* line 280, style.scss */
.buttons .form-group, .buttons.form-group {
  margin-bottom: 60px;
}
/* line 282, style.scss */
.buttons .form-group button, .buttons.form-group button {
  padding: 4px 33px;
  height: 30px;
  margin-right: 30px;
  background: linear-gradient(to top, #1343e3, #446dfa);
}
/* line 287, style.scss */
.buttons .form-group button:hover, .buttons.form-group button:hover {
  background: linear-gradient(to bottom, #1343e3, #446dfa);
}
/* line 291, style.scss */
.buttons .form-group a, .buttons.form-group a {
  font-size: 14px;
  color: #000;
  text-decoration: underline;
}
/* line 295, style.scss */
.buttons .form-group a:hover, .buttons.form-group a:hover {
  text-decoration: none;
}

/* line 301, style.scss */
#users-login-form .buttons.form-group button {
  margin-right: 0;
  padding: 4px 14px;
}

/* line 306, style.scss */
.captcha_error .help-inline {
  margin-top: 40px;
  margin-left: -100%;
}

/* line 311, style.scss */
#users-login-form .lk_title, .restore_password.lk_title {
  margin-bottom: 25px;
}

/* line 315, style.scss */
#users-login-form #reset {
  margin-right: 20px;
  padding: 4px 14px;
}

/* line 320, style.scss */
#registry_link {
  float: right;
  margin-top: 5px;
}

/* line 325, style.scss */
#forget_password {
  position: absolute;
  left: 100%;
  width: 110px;
  display: inline-block;
  margin-top: -45px;
}

/* line 334, style.scss */
.buttons .form-group .green_btn {
  background: linear-gradient(to top, #00a000, #66eb66);
  color: #fff;
  font-weight: normal;
  padding: 4px 23px;
}
/* line 339, style.scss */
.buttons .form-group .green_btn:hover {
  background: linear-gradient(to bottom, #00a000, #66eb66);
}

/* line 345, style.scss */
#error_page {
  position: relative;
}
/* line 347, style.scss */
#error_page img {
  width: 100%;
  object-fit: cover;
}
/* line 351, style.scss */
#error_page h1 {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 475px;
  margin-left: -177px;
}
/* line 358, style.scss */
#error_page a {
  display: block;
  margin: 0 auto;
  width: 373px;
  height: 75px;
  position: absolute;
  color: #fff;
  font-family: 'Lato-Light';
  font-size: 24px;
  left: 50%;
  top: 595px;
  margin-left: -186px;
  -webkit-border-radius: 37px 38px 38px 37px/37px 37px 38px 38px;
  -moz-border-radius: 37px 38px 38px 37px/37px 37px 38px 38px;
  border-radius: 37px 38px 38px 37px/37px 37px 38px 38px;
  padding: 19px 10px 5px 100px;
  background-color: #1c87b9;
  padding: 19px 10px 5px 105px;
  background-image: url("/images/home-error.png");
  background-repeat: no-repeat;
  background-position: 43px 19px;
}
/* line 379, style.scss */
#error_page a:hover {
  background-color: #55a9ea;
  text-decoration: none;
}

/* line 386, style.scss */
.profil_left_menu {
  list-style: none;
  padding-top: 5px;
}
/* line 389, style.scss */
.profil_left_menu a, .profil_left_menu #settings_submenu a {
  color: #000;
}
/* line 391, style.scss */
.profil_left_menu a:hover, .profil_left_menu a.active, .profil_left_menu #settings_submenu a:hover, .profil_left_menu #settings_submenu a.active {
  text-decoration: none;
  color: #0849e1;
}

/* line 399, style.scss */
.user_login #users-login-form {
  background: #ffffff;
  padding: 25px 20px;
}
/* line 402, style.scss */
.user_login #users-login-form .buttons.form-group {
  margin-bottom: 0;
}
/* line 404, style.scss */
.user_login #users-login-form .buttons.form-group .btn {
  padding: 4px 30px;
  font-weight: bold;
  height: 32px;
  font-size: 18px;
  border: none;
  background: none;
  background-image: linear-gradient(#48ca35, #2ed12e, #00ff00, #30cfcf);
  color: #000;
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 98px;
}
/* line 420, style.scss */
.user_login #users-login-form .buttons.form-group .btn:hover {
  background-image: linear-gradient(#2ed12e, #48ca35, #30cfcf, #00ff00);
}
/* line 425, style.scss */
.user_login #users-login-form .buttons.form-group a {
  display: inline-block;
  margin: 5px auto;
  float: none;
  text-align: center;
  color: #000;
  font-size: 18px;
  position: relative;
  top: -35px;
  left: 330px;
  text-decoration: underline;
}
/* line 436, style.scss */
.user_login #users-login-form .buttons.form-group a:hover {
  text-decoration: none;
}
/* line 441, style.scss */
.user_login #users-login-form input[type="checkbox"] + label:not(.status) {
  display: none;
}

/* line 448, style.scss */
#users-login-form .buttons.form-group {
  margin-bottom: 0;
}
/* line 450, style.scss */
#users-login-form .buttons.form-group .btn {
  padding: 4px 33px;
}

/* line 456, style.scss */
#users-registration #reg_btn {
  padding: 4px 17px;
}

/* line 460, style.scss */
#profil {
  content: "\f0d8";
}
/* line 461, style.scss */
#profil .lk_title {
  padding-bottom: 10px;
}
/* line 464, style.scss */
#profil .text-right {
  font-size: 14px;
  color: #979797;
}
/* line 468, style.scss */
#profil .profil_left_menu {
  padding-left: 0;
}
/* line 471, style.scss */
#profil .profil_left_menu li a, #profil .profil_left_menu li div {
  width: 100%;
  height: 100%;
  display: block;
  padding: 5px 0 5px 10px;
}
/* line 478, style.scss */
#profil .profil_left_menu .fa {
  float: right;
  display: inline-block;
  padding-right: 10px;
  padding-top: 2px;
}
/* line 484, style.scss */
#profil .profil_left_menu .dropdown-menu {
  display: block !important;
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s, opacity .3s, top .4s;
  top: 200%;
}
/* line 491, style.scss */
#profil .profil_left_menu .open > .dropdown-menu {
  visibility: visible;
  opacity: 1;
  transition: visibility .3s, opacity .3s, bottom .4s;
  top: calc(100% + 1px);
}
/* line 498, style.scss */
#profil .hitarea {
  background-color: #e4e4e4;
  cursor: pointer;
}
/* line 501, style.scss */
#profil .hitarea.collapsed {
  background-color: transparent;
}
/* line 504, style.scss */
#profil .hitarea:hover {
  background-color: #e4e4e4;
}
/* line 507, style.scss */
#profil .hitarea .fa-caret-up:before {
  content: "\f0d7";
}
/* line 511, style.scss */
#profil .hitarea:not(.collapsed) {
  background-color: #e4e4e4;
}
/* line 513, style.scss */
#profil .hitarea:not(.collapsed) .fa-caret-up:before {
  content: "\f0d8";
}
/* line 517, style.scss */
#profil #settings_submenu {
  list-style-type: none;
  padding-left: 20px;
}

/* line 524, style.scss */
#profil_settings {
  padding-top: 15px;
}
/* line 526, style.scss */
#profil_settings .btn {
  padding: 4px 20px;
  background: linear-gradient(to top, #1545e4, #446dfa);
}
/* line 529, style.scss */
#profil_settings .btn:hover {
  background: linear-gradient(to bottom, #1545e4, #446dfa);
}

/* line 535, style.scss */
#users-changePassword-form {
  padding-top: 10px;
}

/* line 539, style.scss */
.btn-primary {
  font-size: 14px;
  background: linear-gradient(to top, #1545e4, #446dfa);
}
/* line 542, style.scss */
.btn-primary:hover {
  background: linear-gradient(to bottom, #1545e4, #446dfa);
}

/* line 547, style.scss */
.lichnye {
  padding-top: 10px;
}
/* line 549, style.scss */
.lichnye label {
  font-weight: normal;
  color: #727272;
}

/* line 556, style.scss */
#user-info-index-form .qq-uploader {
  display: none;
}

/* line 561, style.scss */
#user-info-index-form {
  padding-top: 10px;
}

/* line 565, style.scss */
#load-avatar {
  position: absolute !important;
  margin-top: 5px;
  width: 220px !important;
  color: #0849e1;
}
/* line 569, style.scss */
#load-avatar input {
  font-size: 14px !important;
  cursor: pointer;
}

/* line 576, style.scss */
.photo_place {
  margin-bottom: 35px;
}

/* line 580, style.scss */
#user-info-index-form .qq-upload-button-hover {
  background: transparent;
  text-decoration: underline;
  color: #0849e1;
}

/* line 586, style.scss */
#VizaForm_email_em_ {
  width: 290px;
}
